@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poiret+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table,
td,
th {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

input,
a,
button {
  outline: 1;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
  text-indent: -9999px;
  overflow: hidden;
}

body {
  background: #242422;
}

#header {
  width: 300px;
  height: 100vh;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
}
#header h1 {
  font: bold 30px/1 "Poiret One";
  position: absolute;
  top: 5vh;
  left: 30px;
}
#header h1:hover a {
  color: orange;
}
#header h1:hover a::before, #header h1:hover a::after {
  width: 100%;
}
#header h1 a {
  color: #eee;
  transition: 0.5s 0.3s;
  position: relative;
}
#header h1 a::before, #header h1 a::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 1px;
  background: orange;
  transition: 0.5s;
}
#header h1 a::before {
  left: 0;
  top: -10%;
}
#header h1 a::after {
  right: 0;
  bottom: -10%;
}
#header .menu #gnb {
  position: absolute;
  width: 100%;
  top: 20vh;
  padding: 0px 30px;
}
#header .menu #gnb li {
  cursor: pointer;
  transition: 0.5s;
}
#header .menu #gnb li.on {
  background: #111;
}
#header .menu #gnb li.on a {
  transform: translateX(10px);
  color: orange;
}
#header .menu #gnb li:hover a {
  color: orange;
}
#header .menu #gnb li a {
  display: inline-block;
  font: 17px/1 "Poiret One";
  color: #ddd;
  padding: 10px 0px;
  transition: 0.5s;
}
#header .menu #gnb .sns {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}
#header .menu #gnb .sns li {
  margin-right: 15px;
}
#header .menu #gnb .sns li:hover a {
  border-color: orange;
}
#header .menu #gnb .sns li:hover a i {
  color: orange;
}
#header .menu #gnb .sns li a {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 50%;
  padding: 10px;
  transition: 0.5s;
  font-size: 0px;
}
#header .menu #gnb .sns li a i {
  font-size: 18px;
  color: #ddd;
  transition: 0.5s;
}
#header p {
  position: absolute;
  bottom: 10vh;
  padding: 0px 30px;
  color: #ddd;
  font: 14px/1.3 "Noto Sans KR";
}

main {
  position: relative;
  margin-left: 300px;
  padding: 20px;
  min-height: 1000px;
}
main.on #sort {
  opacity: 1;
  transform: translateY(0px);
}
main .loading {
  width: 100px;
  position: fixed;
  z-index: 3;
  left: 50%;
  transition: 1s;
  display: none;
}
main .loading.off {
  opacity: 0;
}
main #sort {
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  transition: 1.5s 1s;
}
main #sort article {
  width: 25%;
  float: left;
  padding: 10px;
}
main #sort article > div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
main #sort article > div:hover img {
  filter: blur(3px);
  transform: scale(1.1);
}
main #sort article > div:hover div h2,
main #sort article > div:hover div p {
  opacity: 1;
  transform: translateY(0%);
}
main #sort article > div div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 0px 30px;
}
main #sort article > div div h2 {
  font: bold 22px/1 "Poiret One";
  color: #fff;
  letter-spacing: 1px;
  margin: 15px 0px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-100%);
}
main #sort article > div div p {
  font: 10px/1.2 "Noto Sans KR";
  color: #ddd;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}
main #sort article > div img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
  vertical-align: middle;
}
main #sort::after {
  content: "";
  display: block;
  clear: both;
}
main #popUp {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 1;
  transition: 1s;
  z-index: 5;
  padding: 20vmin 30vmin;
}
main #popUp aside {
  width: 100%;
  height: 100%;
}
main #popUp aside figure {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
main #popUp aside figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main #popUp aside .txt {
  width: 100%;
}
main #popUp aside .txt h2 {
  font: bold 3vmin/1 "Poiret One";
  color: #ddd;
  margin-bottom: 10px;
}
main #popUp aside .txt p {
  font: 0.7vmin/1.3 "Noto Sans KR";
  color: #666;
  margin-bottom: 40px;
}
main #popUp aside .txt span {
  cursor: pointer;
  color: orange;
  font: bold 20px/1 "Poiret One";
  position: relative;
}
main #popUp aside .txt span::before, main #popUp aside .txt span::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 1px;
  background: orange;
  transition: 0.5s;
}
main #popUp aside .txt span::before {
  left: 0;
  top: -10%;
}
main #popUp aside .txt span::after {
  right: 0;
  bottom: -20%;
}
main #popUp aside .txt span:hover::before, main #popUp aside .txt span:hover::after {
  width: 100%;
}
main #popUp.on {
  opacity: 1;
  left: 0%;
}

.mask {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  background: #000;
  opacity: 0;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mask span {
  color: #fff;
}

@media screen and (max-width: 1599px) {
  main {
    padding: 20px;
  }
  main #sort article {
    width: 33.3333333333%;
  }
  main #popUp {
    padding: 20vmin 15vmin;
  }
}
@media screen and (max-width: 1199px) {
  #header {
    width: 100%;
    height: 120px;
    position: relative;
  }
  #header h1 {
    font: bold 28px/1 "Poiret One";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #header .menu #gnb {
    position: absolute;
    width: auto;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  #header .menu #gnb li {
    padding: 0px 10px;
  }
  #header .menu #gnb li.on {
    background: transparent;
  }
  #header .menu #gnb li.on a {
    transform: translateX(0px);
  }
  #header .menu #gnb .sns {
    margin-top: 0px;
  }
  #header .menu #gnb .sns li {
    padding: 0px 5px;
    margin-right: 0px;
  }
  #header .menu #gnb .sns li a {
    padding: 7px;
  }
  #header .menu #gnb .sns li a i {
    font-size: 14px;
  }
  #header p {
    display: none;
  }

  main {
    position: relative;
    margin-left: 0;
  }
  main #sort article {
    width: 33.3333333333%;
  }
  main #popUp {
    padding: 20vmin 12vmin;
  }
}
@media screen and (max-width: 899px) {
  #header .menu #gnb .sns {
    display: none;
  }

  main #sort article {
    width: 50%;
  }
  main #popUp {
    padding: 25vmin 10vmin;
  }
}
@media screen and (max-width: 679px) {
  main #sort article {
    width: 100%;
  }
  main #popUp {
    padding: 40vmin 10vmin;
  }
}

/*# sourceMappingURL=style.css.map */
